.header_container{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.bg_image_one{
    width: 840px;
display: flex;
margin-top: -70px;
}
.landingPage_img{
    width: 450px ;
    align-self: center;
    margin-top: -7%;
}
.bg_image_two{
position: absolute;
bottom: 50px;}